{% extends "base.html" %}


{% block title %}客户端管理{% endblock title %}


{% block main_content %}
    <h2 class="text-primary">共计{{ len(clients) }}个客户端：</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>创建时间</th>
                <th>客户端ID</th>
                <th class="text-center">名称</th>
                <th class="text-center">公网地址</th>
                <th class="text-center">TCP映射数</th>
                <th class="text-right">TCP流量</th>
                <th class="text-center">UDP映射数</th>
                <th class="text-right">UDP流量</th>
                <th class="text-center">相关操作</th>
              </tr>
            </thead>
            <tbody>
            {% for c in clients %}
              <tr id="client-{{ clients[c]['client_id'] }}">
                <td>{{ moment(clients[c]['start_time']).format('YYYY-MM-DD HH:mm:ss') }}</td>

                <th scope="row">{{ clients[c]['client_id'] }}</th>

                <td class="text-center">{{ clients[c]['client_name'] }}</td>

                <td class="text-center">{{ clients[c]['tcp_e_addr'] }}</td>

                <td class="text-center">
                  <a href="{{ url_for('server.mappings', cid=c) }}"><b>{{ len(clients[c]['tcp_maps']) }}</b></a>
                </td>
                <td class="text-right">{{ stringify_bytes_val(clients[c]['tcp_statistic']) }}</td>

                <td class="text-center">
                  <a href="{{ url_for('server.mappings', cid=c) }}"><b>{{ len(clients[c]['udp_maps']) }}</b></a>
                </td>
                <td class="text-right">{{ stringify_bytes_val(clients[c]['udp_statistic']) }}</td>

                <td class="op-widget-box text-center">
                  <span class="glyphicon glyphicon-{{ 'pause' if clients[c]['is_running'] else 'play' }} text-primary" onclick="{{ 'stop_client' if clients[c]['is_running'] else 'resume_client' }}('{{ clients[c]['client_id'] }}')"></span>
                  <span class="glyphicon glyphicon-remove text-danger" onclick="remove_client('{{ clients[c]['client_id'] }}')"></span>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main_content %}


{% block scripts %}

    {{ super() }}

    <script type="text/javascript">
        function stop_client(cid) {
            $.get("{{ url_for('api.pause_client', client_id=0) }}".replace(/0/, cid), function(){
                setTimeout("window.location.reload()", 100);
            });
        }

        function resume_client(cid) {
            $.get("{{ url_for('api.resume_client', client_id=0) }}".replace(/0/, cid), function(){
                setTimeout("window.location.reload()", 100);
            });
        }

        function remove_client(cid) {
            notification_init(
                '提示', '确定删除客户端（' + cid + '）？',
                '<button class="btn btn-default" data-dismiss="modal">取消</button><button class="btn btn-danger" onclick="confirm_remove_client(\'' + cid + '\')">删除</button>');
            notification_show();
        }

        function confirm_remove_client(cid) {
            $.get("{{ url_for('api.remove_client', client_id=0) }}".replace(/0/, cid), function(){
                setTimeout("window.location.reload()", 100);
            });
        }
    </script>

{% endblock scripts %}
